html {
  background-color: #000029;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#message-container {
  width: 80%;
  max-width: 1200px;
}

#message-container > .self-msg-theme {
  background-color: #00ABE3;
  border-radius: 8px;
  margin: 10px 0;
  padding: 8px 10px;
}

#message-container > .other-msg-theme {
  background-color: #9E71FF;
  border-radius: 8px;
  margin: 10px 0;
  padding: 8px 10px;
}

#message-container > .warn-msg-theme {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 10px 0;
  padding: 8px 10px;
}

#send-container {
  position: fixed;
  margin-bottom: 30px;
  bottom: 0;
  background-color: #001453;
  border-radius: 10px;
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  flex-grow: 1;
  color: #fff;
  border: none;
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: transparent;
}

#send-button {
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  margin: 0 10px;
  cursor: pointer;
}